* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
    padding: 0 70px;
}
form{
    display: inline-block;
    border: 15px;
    box-shadow: 2px 1px 10px;
    margin: 20px auto;
    padding: 20px;
    display: inline-block;
    border: none;
   
}
.heading {
  display: flex;
  justify-content: space-between;
}
.seeallpro {
  color: rgb(197, 71, 71);
  text-decoration: none;
}
.h1 {
  display: block;
  justify-content: center;
  margin-bottom: 2px;
  padding: 2px;
}
button{
    border: none;
}
.link{
    padding: 8px 5px;
  background-color: rgb(161, 24, 26)
  color white;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  width: 20px;
}

.img1{
  width: 200px;
  height: 200px;
}
.img2{
  width: 200px;
   height: 200px;
}
.img3{
    width: 200px;

  }

.img4{
    width: 200px;
    height: 200px;
}
.img5{
    width: 200px;
    height: 200px;
}
.img6{
    width: 200px;
    height: 200px;
}
.img7{
    width: 200px;
    height: 200px;
}
.img8{
    width: 200px;
    height: 200px;
}
.img9{
    width: 200px;
    height: 200px;
}
.img10{
    width: 200px;
    height: 200px;
}
.img11{
    width: 200px;
    height: 200px;
}
 .img12{
    width: 200px;
    height: 200px;
}
