img{
height: 60px;
margin-right: 100;
left: 40%;
}
.space{
    margin: 400px;
}
.button{
    background-color: red;
    color: white;
    border: black;
    height: 30px;
    width: 100px;
    a{
        font:size 22px;
    }
   
}
a{
    color: white;
}
.head-content{
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 150%;
    size: 200%;
}
input{
    border: 1px solid ;
    outline: ;
    background-color: transparent;
    color: aliceblue;
    padding: 10px;
}
